* {
  box-sizing: border-box;
}

main {
  margin: 20px auto;
  width: 95%;
}

.search-card {
  margin: 0 0 20px 0;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

.history-card {
  margin: 0 0 20px 0;
}

.btn {
  color: var(--primary);
  border: none;

  /* background-color: var(--light-dark); */
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  /* background-color: var(--tertiary); */
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.form-input {
  width: 80%;
}

.uv-index-low {
  border-style: solid;
  border-color: green;
  background-color: green;
  border-radius: 10px;
  padding: 0 15px;
}

.uv-index-moderate {
  border-style: solid;
  border-color: rgb(255, 187, 0);
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  padding: 0 15px;
}

.uv-index-severe {
  border-style: solid;
  border-color: red;
  background-color: red;
  border-radius: 10px;
  padding: 0 15px;
}
